* {
    margin: 0;
    font-family: Arial;
    border: border-box;

}

.border_1 {
    border: 1.5px solid transparent;
}

.border_1:hover {
    border: 1.5px solid white;
}


.navbar {
    height: 60px;
    width: 100%;
    color: white;
}

.logo img {
    height: 50px;
    width: 100%;
}

.delivery-section {
    width: 21%;
}

.del-1 {
    font-size: 12.5px;
    color: #cccccc;
}

.del-ul {
    line-height: 15px;
}

._1awh {
    height: 20px;
    width: 20px;
}

.nav_languages li {
    margin-top: 10px;
}

.nav_languages a {
    text-decoration: none;
    color: black;
}

.hello {
    list-style: none;
    margin-right: 45px;
    font-size: 0.7rem;
    line-height: 0.5rem;
}

.your_list a {
    font-size: 15px;
}

.ret_a {
    list-style: none;
    line-height: 0.8rem;
    margin-right: 20px;
    font-size: 0.8rem;
}

/* search bar */
.nav_search {
    width: 620px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
    margin-top: 10px;
}

.search_select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search_input {
    width: 100%;
    font-style: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav_search:hover {
    border: 2px solid orange;
}

.nav_cart i {
    font-size: 40px;
}

.nav_cart {
    font-size: 0.85rem;
    font-weight: bold;
}

.panel2-sec {
    background-color: #232f3e;
    height: 50px;
    width: 100%;
}

.panel-li {
    font-size: 14px;
}

.panel_4 {
    bottom: 120px;
    position: relative;
}

.panel_4 h5 {
    font-weight: bolder;
}

.boult img {
    height: 100px;
    width: 120px;
    padding-right: 10px;
}

.boat_para {
    font-size: 11px;
}

.sign_in {
    height: 150px;
    width: 300px;
}

.art_vibes img {
    height: 180px;
    width: 300px;
}

.lab img {
    height: 200px;
    width: 100%;
}

.womens img {
    height: 145px;
    width: 75px;
}

.birth_day img {
    height: 113px;
    width: 125px;
}

.wedding img {
    height: 100px;
    width: 125px;
}

.all_items {
    font-size: 13.5px;
}

.art_logo img {
    height: 100px;
    width: 200px;
    margin-top: 100px;
}

.art_vibe_family {
    margin-top: 100px;
    font-size: 16px;
}

.zero {
    font-size: 10px;
    margin-bottom: 80px;
}

.anchor_mini {
    font-size: 14px;
}

.panel_13 {
    line-height: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.120);
    border-bottom: 1px solid rgba(0, 0, 0, 0.120);
    /* margin-bottom: ; */
}

.panel_13 p {
    font-size: 13.5px;
}

.sign_ser {
    font-size: 13px;
}

.panel_14 {
    background-color: #37475A;
    height: 50px;
}

.panel_15 {
    background-color: #232F3E;
}

.foot_head {
    margin-left: 30px;
    font-size: 18px;
}

.footer_li {
    list-style: none;

}

.footer_li a {
    text-decoration: none;
    color: white;
    line-height: 2rem;
}

.logo-2 img {
    height: 60px;
    width: 100px;
}

.all_over_lang {
    list-style: none;
}

.all_over_lang a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-right: 18px;
}

.panel_16 {
    background-color: #131A22;
}

.show_table {
    width: 80%;
}

.table {
    line-height: 1rem;
    font-size: 13px;
}

table td {
    border-bottom: none;
}

.table a {
    text-decoration: none;
    color: white;
}

.table span {
    color: #999;
}

.last_div {
    line-height: 0.5rem;
    font-size: 12.5px;
}

.foot_last_li {
    list-style: none;
}

.foot_last_li a {
    text-decoration: none;
    color: white;
}

.last_span {
    text-align: center;
    margin-left: 40%;
}

/* caraousel classses */
._2Abed img {
    height: 200px;
    width: 100%;
}

._4Abed img {
    height: 200px;
    width: 100%;
}

._4Becd img {
    height: 200px;
    width: 100%;
}

.sarees img {
    height: 300px;
    width: 150px;
}

.sarees2 img {
    height: 300px;
    width: 150px;
}

.natural img {
    height: 200px;
    width: 100%;
}

.card {
    border: none;
    padding: 10px;
}

.home_asscessories a {
    color: #007185;
    font-size: 14px;
}

.home_asscessories img {
    height: 180px;
    width: 100%;
}

.cosmix p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more_info p {
    font-size: 0.84rem;
    line-height: 1.4rem;
    margin-bottom: -0.10px;
}

.more_info span {
    font-size: 12px;
}

.free {
    font-size: 0.8rem;
}

.discount {
    background-color: #cc0c39;
}

.deal {
    color: #cc0c39;
    font-weight: bold;
    margin-left: 10px;
}


.get_it span {
    font-size: 12px;
}

.rin_bar {
    font-size: 0.8rem;
}