.navbar{
    height: 70px;
    width: 100%;
    color: white;
}

.logo img{
    height: 60px;
    width: 100%;
}

.del-1{
    font-size: 12.5px;
    color: #cccccc;
}

.del-ul{
    line-height: 15px;
}

.panel2-sec{
    background-color: #232f3e;
    height: 50px;
    width: 100%;
}

.panel-li{
    font-size: 14px;
}

.panel_4{
    bottom: 120px;
    position: relative;
}
.panel_4 h5{
    font-weight: bolder;
}

.boult img{
    height: 100px;
    width: 120px;
    padding-right: 10px;
}

.boat_para{
    font-size: 11px;
}

.sign_in{
    height: 150px;
    width: 300px;
}

.art_vibes img{
    height: 180px;
    width: 300px;
}

.lab img{
    height: 200px;
    width: 100%;
}

.womens img{
    height: 145px;
    width: 75px;
}

.birth_day img{
    height: 113px;
    width: 125px;
}

.wedding img{
    height: 100px;
    width: 125px;
}
.all_items {
    font-size: 13.5px;
}
.art_logo img{
    height: 100px;
    width: 200px;
    margin-top: 100px;
}

.art_vibe_family{
    margin-top: 100px;
    font-size: 16px;
}
.zero{
    font-size: 10px;
    margin-bottom: 80px;
}

.anchor_mini {
    font-size: 14px;
}

.panel_13{
    line-height: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.120);
    border-bottom: 1px solid rgba(0, 0, 0, 0.120);
    /* margin-bottom: ; */
}

.panel_13 p {
    font-size: 13.5px;
}

.sign_ser{
    font-size: 13px;
}

.panel_14{
    background-color: #37475A;
    height: 50px;
}

.panel_15{
    background-color: #232F3E;
}

.foot_head{
    margin-left: 30px;
    font-size: 18px;
}

.footer_li{
    list-style: none;

}

.footer_li a{
    text-decoration: none;
    color: white;
    line-height:2rem;
}

.logo-2 img{
    height: 60px;
    width: 100px;
}

.all_over_lang {
    list-style: none;
}

.all_over_lang a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-right: 18px;
}

.panel_16{
    background-color: #131A22;
}

.show_table{
    width: 80%;
}

.table{
    line-height: 1rem;
    font-size: 13px;
}
table td{
    border-bottom: none;
}

.table a{
    text-decoration: none;
    color: white;
}

.table span{
    color: #999;
}
.last_div{
    line-height: 0.5rem;
    font-size: 12.5px;
}
.foot_last_li{
    list-style: none;
}
.foot_last_li a{
    text-decoration: none;
    color: white;
}
.last_span{
    text-align: center;
    margin-left: 40%;
}
 
 